<% if signed_in? %>
  <h2>Hi <%= current_user.name %></h2>
  <p>This is your launch page</p>
  <p>To view your <a href="<%= user_path(current_user) %>">profile</a> click <a href="<%= user_path(current_user) %>">here</a>
<% else %>
  <div class="center hero-unit">
  	<h1>Proioxis</h1>
  	<h2>
  		"The spirit of onrush and battlefield pursuit"
  	</h2>

  	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  </div>
  <div class="empty-buffer"></div>
<% end %>