<div class="well sidenav">
  <ul class="nav nav-list">
    <li class="nav-header">Proioxis</li>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li class="active"><a href="#">Link 3</a></li>
  </ul>
</div>